<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="PsGet" />
    <package id="google-chrome-x64" />
    <package id="firefox" />
    <package id="7zip.install" />
    <package id="keepass.install" />
    <package id="dropbox" />
    <package id="notepadplusplus.install" />
    <package id="vlc" />
    <package id="filezilla" />
    <package id="calibre" />
    <package id="git.install" />
    <package id="poshgit" />
    <package id="nodejs.install" />
    <package id="atom" />
    <package id="procexp" />
    <package id="nuget.commandline" />
    <package id="wget" />
    <package id="jdk8" />
    <package id="fiddler4" />
    <package id="console2" />
    <package id="visualsvn" />
    <package id="tortoisesvn" />
    <package id="slack" />
    <package id="skype" />
</packages>
